@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800');
body{font-family: 'Raleway', sans-serif !important; -webkit-font-smoothing:antialiased; }

/* changes */
h1, h2, h3, h4, h5, h6 {
    color: #2b2b2b;
    font-family: 'Raleway', sans-serif !important;
    margin: 10px 0;
    font-weight: 500 !important;
}
.datepicker td, .datepicker th, .table-condensed td, .table-condensed th{cursor: Pointer;}

p.reg {
    color: #333;
    font-size: 14px;
    letter-spacing: .3px;
    font-weight: 500;
    margin-bottom: 13px;
    background: #cccccc2b;
    padding: 5px 10px;
    border-radius: 10px;
}
.m-tb-0{margin-top: 0 !important; margin-bottom: 0 !important}
label {
    color: #0b2038 !important;
    font-size: 14px !important;
}
.modal-content {
    
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 10px !important;
    border: none !important;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background: #0d7fea2b !important;;
}
#side-menu .nav {
    border-radius: 0 0 6px 6px !important;
    overflow: hidden;
}
#side-menu li a {color: #ffffff !important;}
ul.nav.nav-second-level.collapse:hover li a {
    background: #243b5b !important;
}
ul.nav.nav-second-level.collapse li a {
    background: #243b5b !important;
}
ul.nav.nav-second-level.collapse li:hover a {
    color: #256498 !important;
}

.form-control {color: #333; font-weight: 500 !important; font-size:12px;}
.container-fluid {padding-left: 15px !important; padding-right: 15px !important;}
.mana-top{    background: #f7fafc;
    margin: 0 -15px;
    box-shadow: 1px 1px 6px #dcdcdc;
    margin-bottom: 10px;
    padding: 0 0 0 7px;}
.rown-dd {
    border-radius: 10px;
    box-shadow: 1px 1px 5px #3e3e3e;
}
.select2-results li:first-child {
    margin-top: 15px;
}
.login-register1 {
    background: url(../plugins/images/fire-bg.jpeg) center center/cover no-repeat !important;
    height: 100%;
    position: fixed;
}
ul.ovr-due li .clt-nm {
    font-weight: 600;
    color: #333;
    font-size: 16px;
    margin-bottom: 0;
}
ul.ovr-due li .remaind-er {
    color: #243b5b;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}
.footer {    background: #f8f8f8 !important;}
.dlop{    border: none;
    font-size: 18px !important;
    margin-bottom: 5px;
    color: #333 !important;}
ul.ovr-due {
    padding: 0;
}
.with-bod {
    border: 1px solid #eaeaea;
    border-radius: 15px;
    box-shadow: 1px 1px 8px #e2e9ec;
    padding: 10px 0;
}
g.highcharts-legend-item.highcharts-pie-series tspan {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600 !important;
}
g.highcharts-axis-labels.highcharts-xaxis-labels {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
}

g.highcharts-axis-labels.highcharts-yaxis-labels {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
}
text.highcharts-axis-title {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
}

ul.ovr-due li {
    list-style: none;
    padding: 5px 40px;
    border-bottom: 1px dashed #eaeaea6b;
    position: relative;
    display: block;
    overflow: hidden;
}
ul.ovr-due li:before {
    content: "\e04b";
    font-family: 'simple-line-icons';
    position: absolute;
    left: 15px;
    top: 6px;
    font-size: 15px;
    color: #243b5b;
}
ul.ovr-due.tp-clt .remaind-er {
    float: right;
    border: 1px solid #a0b4de;
    padding: 3px 11px;
    border-radius: 18px;
    background: #175eda33;
    color: #263a5d;
    font-size: 14px;
}
ul.ovr-due li .remaind-er {
    color: #243b5b;
    font-size: 14px;
    font-weight: 600;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #e4e7ea;
}
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after {display:none;}
.bx-shd{
        box-shadow: 1px 2px 10px #dedede75;
    padding: 10px 10px 20px;
    border-radius: 10px;
    border: 1px solid #e9e9e969;}
h3.box-title {
    color: #243b5b;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    border-bottom: 2px solid #243b5b;
    float: left;
    padding: 0 0px;
    clear: both;
    clear: left;
    display: block;
}
#side-menu li a {
   transition: all linear .3s;
}
#side-menu li a:hover {
    color: #e8b884 !important;
}
#side-menu > li > a.active i {
    color: inherit !important;
}

.btn {
    font-size: 13px;
    padding: .8rem 1.2rem;
    border-radius: 5px !important;
    box-shadow: 3px 3px 4px #ccc; font-weight: 600;
}
th {
    color: #3d4146;
    font-weight: 600;
}
td {
    font-weight: 500;
    font-size: 12px !important;
    color: #616161;
}
#side-menu li a{font-weight: 600;}
.top-left-part{    width: 150px !important;}
/* changes */
.navbar-header.cuz {
    background: #223c59 !important;
}
.white-box .box-title {text-transform: 
none;}
.m-b-10 {margin-bottom: 10px !important;}
.bg-title{margin-bottom:7px !important;}
#page-wrapper{background: #fff !important;}
.white-box{padding: 10px 0px;}
.table-bordered.act-adjust>tbody>tr>td, .table-bordered.act-adjust>tbody>tr>th, .table-bordered.act-adjust>tfoot>tr>td, .table-bordered.act-adjust>tfoot>tr>th, .table-bordered.act-adjust>thead>tr>td, .table-bordered.act-adjust>thead>tr>th{font-size:13px;}
.row.bx-shd.m-t-20 .form-control {
    font-size: 12px;
}
.table-bordered.act-adjust>thead>tr>th {
    font-weight: 600 !important;
}
.select2-container .select2-choice .select2-arrow {background: none !important; border-left:none !important;}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #333;
    font-weight: 500;
    font-size: 13px;
}
.lbl {font-size: 15px;
    margin-bottom: 10px;
    color: #243b5b;
    border-bottom: 2px solid #425574;
    padding-bottom: 2px;}
.table-bordered td, .table-bordered th {
    border: 1px solid #eceeef !important;
    border-right: none !important;
    border-bottom: none !important;
}
table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    border: none !important; 
    border-bottom: 1px solid #eceeef !important;
}
.row.bx-shd.m-t-20{
    font-size: 12px;
}
table.dataTable thead th {
    font-weight: 600;
}
table.dataTable thead th {
    font-weight: 600;
    border-bottom: none !important;
}
ul.nav{margin-left: 7px !important;}
.btn-danger.add{margin-top: -6px;margin-bottom: 9px;font-size: 14px;
    padding: .8rem 3.2rem;
    border-radius: 0px;
    background: #223c59 !IMPORTANT;
        border: 1px solid #243b5b;
    color: #fff !IMPORTANT;
    margin-right: -5px;}
.edp {    border: 1px solid #a6b9c6;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    color: #3c576c;
    font-weight: 600;
    font-size: 16px;
}
strp {
    color: #243b5b;
    font-weight: 600;
}
.rowd-bd:before {
    border: 2px solid #b2c1cc;
    position: absolute;
    content: "";
    height: 32px;
    z-index: 0;
    bottom: -32px;
    left: 32px;
}
.wid-100 {width:100%;}

.rowd-bd:last-child {
    margin-bottom: -10px !important;
}
.rowd-bd:last-child:before {
    content: "";
    border: none;
}
ul.ovr-due.tp-clt .clt-nm {
    float: left;
}
ul.noer {
    padding: 0;
}
ul.noer li {
    list-style: none;
    display: inline-flex;
    padding:0 15px 0 0;
    font-size: 13px;
    font-weight: 600;
    color: #243b5b;
}
p.fail {
    background: #d82a10ba;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    color: #fff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.noer li a {
    color: inherit;
}
ul.noer li:first-child:before {
    display: none;
}
ul.noer li:before {
    content: "";
    height: 5px;
    width: 5px;
    background: #293e60;
    top: 4px;
    margin-top: 6px;
    margin-right: 5px;
    border-radius: 50%;
}
.rowd-bd {
    border: 1px solid #a6b9c6;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
}
p.bd-h1 {
    font-size: 22px;
    color: #243b5b; margin-bottom: 0;
}
p.bd-h2 {
    font-size: 13px;
    color: #333;
    font-weight: 500;
}
table.disp-invoice {
    width: 100%;
}
strp {
    color: #243b5b;
    font-weight: 600;
}

p.bd-h2 span {
    color: #333;
    font-weight: 600;
    font-size: 15px;
}
p.succ {
    background: #35a7fa;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    color: #fff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-centered {display: block; margin: 0 auto;float: none;}
.label-edit{background: #17a88b;width: 20px;height: 20px;padding: 4px 9px 3px;font-size: 14px;color: #fff;border-radius:5px;}
.label-delete{background: #e5343d;width: 20px;height: 20px;padding: 4px 9px 3px;font-size: 14px;color: #fff;border-radius:5px;}
.act-adjust tr td:last-child {width:109px;}
.navbar-default.sidebar{width: 68%;
    float: left;
    background: transparent;
    padding-top: 7px;}
.hide-menu{color:#fff !important;}
#side-menu > li > a:hover, #side-menu > li > a:focus {
    background-color: transparent !important;
}
#side-menu > li > a:hover{background: transparent !important;}
#side-menu>li>a{padding:15px;}
#wrapper.fix-top .sidebar{position:relative !important;}
#wrapper.fix-top #page-wrapper{padding-top:0px !important;}
.white-box {
    padding: 0px 0px !important;
}
.bg-title{padding: 8px 15px 1px !important;}
.p-t-8{padding-top:8px;}
.form-group {
    margin-bottom: 11px !important;
}
#page-wrapper{min-height: 593px !important;}
.act-adjust1 tr td:first-child {width:50px;}
.m-b-15{margin-bottom:15px !important;}
.p-t-scope{padding: 8px 13px 9px 4px;}
.m-t-25{margin-top:25px !important;}
#side-menu > li > a.active{border-bottom:0px !important;}
.hide-menu:hover{color:#e8b884 !important;transition: all linear .3s;}
#side-menu > li > a{border-bottom:0px !important}
#side-menu > li > a.active{color:#e8b884 !important;}
.m-t-split{margin: 0px 5px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{padding: 8px 8px !important;}
.j-d .i-status{background: #37a88829;padding: 2px 9px !important;border-radius: 8px;color: #37a888;float: left;text-align: center;margin: 0px 11px;font-size: 12px !important;}
.j-d .i-failure{background: #e036381a;padding: 2px 12px !important;border-radius: 8px;color: #e03638b8;float: left;text-align: center;margin: 0px 11px;font-size: 12px !important;}
.head-title{color: #243b5b;font-weight: 600;margin-top: 6px;font-size: 18px;}
.j-details{margin-top:8px;}
.select2-results{margin: -6px 4px 4px 0 !important;}
.sp-row{margin:10px 0px;}

.rit tr td:first-child {text-align:center;}
